<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwesomeProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Catamaran-Black.ttf</string>
		<string>Catamaran-Bold.ttf</string>
		<string>Catamaran-ExtraBold.ttf</string>
		<string>Catamaran-ExtraLight.ttf</string>
		<string>Catamaran-Light.ttf</string>
		<string>Catamaran-Medium.ttf</string>
		<string>Catamaran-Regular.ttf</string>
		<string>Catamaran-SemiBold.ttf</string>
		<string>Catamaran-Thin.ttf</string>
		<string>Comfortaa-Bold.ttf</string>
		<string>Comfortaa-Light.ttf</string>
		<string>Comfortaa-Medium.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>Comfortaa-SemiBold.ttf</string>
		<string>Comfortaa-VariableFont_wght.ttf</string>
		<string>Devanagari.ttf</string>
		<string>Devanagari  Plain.ttf</string>
		<string>DIN 30640 Std Neuzeit Grotesk Light.otf</string>
		<string>Dosis-Bold.ttf</string>
		<string>Dosis-ExtraBold.ttf</string>
		<string>Dosis-ExtraLight.ttf</string>
		<string>Dosis-Light.ttf</string>
		<string>Dosis-Medium.ttf</string>
		<string>Dosis-Regular.ttf</string>
		<string>Dosis-SemiBold.ttf</string>
		<string>Dosis-VariableFont_wght.ttf</string>
		<string>Helvetica Neu Bold.ttf</string>
		<string>HelveticaNeue BlackCond.ttf</string>
		<string>HelveticaNeue Light.ttf</string>
		<string>HelveticaNeue Medium.ttf</string>
		<string>HelveticaNeue Thin.ttf</string>
		<string>HelveticaNeue.ttf</string>
		<string>HelveticaNeueBd.ttf</string>
		<string>HelveticaNeueHv.ttf</string>
		<string>HelveticaNeueIt.ttf</string>
		<string>HelveticaNeueLt.ttf</string>
		<string>HelveticaNeueMed.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-RegularItalic.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>LibreFranklin-Black.ttf</string>
		<string>LibreFranklin-BlackItalic.ttf</string>
		<string>LibreFranklin-Bold.ttf</string>
		<string>LibreFranklin-BoldItalic.ttf</string>
		<string>LibreFranklin-ExtraBold.ttf</string>
		<string>LibreFranklin-ExtraBoldItalic.ttf</string>
		<string>LibreFranklin-ExtraLight.ttf</string>
		<string>LibreFranklin-ExtraLightItalic.ttf</string>
		<string>LibreFranklin-Light.ttf</string>
		<string>LibreFranklin-LightItalic.ttf</string>
		<string>LibreFranklin-Medium.ttf</string>
		<string>LibreFranklin-MediumItalic.ttf</string>
		<string>LibreFranklin-Regular.ttf</string>
		<string>LibreFranklin-RegularItalic.ttf</string>
		<string>LibreFranklin-SemiBold.ttf</string>
		<string>LibreFranklin-SemiBoldItalic.ttf</string>
		<string>LibreFranklin-Thin.ttf</string>
		<string>LibreFranklin-ThinItalic.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-RegularItalic.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-Black.ttf</string>
		<string>Muli-BlackItalic.ttf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-ExtraBold.ttf</string>
		<string>Muli-ExtraBoldItalic.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-Regular.ttf</string>
		<string>Muli-RegularItalic.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli-SemiBoldItalic.ttf</string>
		<string>Neuzeit Grotesk W01 Regular.otf</string>
		<string>Neuzeit Grotesk Cond W01 Black.otf</string>
		<string>NeuzeitSBook.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-BoldItalic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-RegularItalic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-RegularItalic.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>Overpass-Black.ttf</string>
		<string>Overpass-BlackItalic.ttf</string>
		<string>Overpass-Bold.ttf</string>
		<string>Overpass-BoldItalic.ttf</string>
		<string>Overpass-ExtraBold.ttf</string>
		<string>Overpass-ExtraBoldItalic.ttf</string>
		<string>Overpass-ExtraLight.ttf</string>
		<string>Overpass-ExtraLightItalic.ttf</string>
		<string>Overpass-Light.ttf</string>
		<string>Overpass-LightItalic.ttf</string>
		<string>Overpass-Regular.ttf</string>
		<string>Overpass-RegularItalic.ttf</string>
		<string>Overpass-SemiBold.ttf</string>
		<string>Overpass-SemiBoldItalic.ttf</string>
		<string>Overpass-Thin.ttf</string>
		<string>Overpass-ThinItalic.ttf</string>
		<string>Prompt-Black.ttf</string>
		<string>Prompt-BlackItalic.ttf</string>
		<string>Prompt-Bold.ttf</string>
		<string>Prompt-BoldItalic.ttf</string>
		<string>Prompt-ExtraBold.ttf</string>
		<string>Prompt-ExtraBoldItalic.ttf</string>
		<string>Prompt-ExtraLight.ttf</string>
		<string>Prompt-ExtraLightItalic.ttf</string>
		<string>Prompt-Italic.ttf</string>
		<string>Prompt-Light.ttf</string>
		<string>Prompt-LightItalic.ttf</string>
		<string>Prompt-Medium.ttf</string>
		<string>Prompt-MediumItalic.ttf</string>
		<string>Prompt-Regular.ttf</string>
		<string>Prompt-SemiBold.ttf</string>
		<string>Prompt-SemiBoldItalic.ttf</string>
		<string>Prompt-Thin.ttf</string>
		<string>Prompt-ThinItalic.ttf</string>
		<string>Questrial-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Spectral-Bold.ttf</string>
		<string>Spectral-BoldItalic.ttf</string>
		<string>Spectral-ExtraBold.ttf</string>
		<string>Spectral-ExtraBoldItalic.ttf</string>
		<string>Spectral-ExtraLight.ttf</string>
		<string>Spectral-ExtraLightItalic.ttf</string>
		<string>Spectral-Light.ttf</string>
		<string>Spectral-LightItalic.ttf</string>
		<string>Spectral-Medium.ttf</string>
		<string>Spectral-MediumItalic.ttf</string>
		<string>Spectral-Regular.ttf</string>
		<string>Spectral-RegularItalic.ttf</string>
		<string>Spectral-SemiBold.ttf</string>
		<string>Spectral-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
